<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>liblua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libluad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>luac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>luad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C3170E2157CE98000F12776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C317149157CECC800F12776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C317151157CECFD00F12776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C317192157CEEE000F12776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C3A7933163F8D2D00F4F429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C57C8CF163F8E7A00C9AA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C57C8DF163F909000C9AA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C57C91A163F923C00C9AA4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
